.last-package-update-day
.lsp-session*
.cache
.org-id-locations
eln-cache
auto-save-list
elpa
tramp
tree-sitter
eshell/lastdir
eshell/history
transient
recentf
org-roam.db
session.*
cache/*/*
cache/*
!cache/backups/.keep
!cache/saves/.keep
!cache/undotree/.keep
!cache/default-desktop/.keep
projects
url
newsticker
network-security.data
bookmarks
