.last-package-update-day
auto-save-list
elpa
convention.el
eshell/lastdir
eshell/history
transient
recentf
cache/backups/*
cache/saves/*
cache/undotree/*
!cache/backups/.keep
!cache/saves/.keep
!cache/undotree/.keep
